.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

header {
  width: 90%;
  margin: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo {

  width: 200px;
  height: 155px;
  margin: auto;
}

.over19 {
  width: 750px;
  height: 500px;
  margin: auto;
}

.sorry {
  width: 475px;
  height: 600px;
  margin: auto;
}

.nav {
  padding-top: 1em;
}

.nav-a {
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brewery-tombstone {
  float: left;
  width: 60%;
  text-align: left;
}

.beer-list {
  float: right;
  border: 1px solid black;
  padding-top: 4rem;
  height: 20rem;
  width: 44%;
  border-radius: 1em;
}

div.slider {
  height: 9rem;
}

.tours-all {
  display: flex;
  flex-wrap: wrap;
}

.tours-individualtour {
  border: 1px solid;
  border-radius: 1em;
  width: 250px;
  height: 250px;
  margin: 1em;
}

.tours-individualtourtitle {
  height: 100px;
  padding: 1em 0em 0em 0em;
}

.tours-individualtourdetails {
  text-align: left;
  padding: 0em 0em 0em 1em;
}

/* QUIZ CSS */

.ant-modal-footer {
  visibility: hidden;
}
/* END OF QUIZ CSS */

/* Paw Print CSS */
img.icon {
  height: 24px;
  width: 24px;
  padding: .2em;
}


